/* CSS Reset & Global Styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans';
    -webkit-appearance: none;
  }
  
  ::placeholder {
    color: rgb(221, 221, 221);
  }
  
  .wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: 0.8s all;
    background-image: linear-gradient(to bottom right, rgba(189,13,34,1), rgba(2,0,184,1), rgba(0,0,0,1));
  }
  
  h1 {
    margin-bottom: 6.5%;
    color: rgb(245, 235, 235);
    font-weight: normal;
  }
  
  .container {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
    /* background-color: rgb(110, 237, 231); */
    background-color: rgb(15, 13, 13);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
  
  .top-buttons {
    display: flex;
    align-items: center;
  
  }
  
  input {
    padding: 25px;
    color: rgb(255, 255, 255);
    font-size: 1em;
    cursor: pointer;
    width: 70px;
    background-color: rgb(47, 51, 50);
    border: none;
    outline: none;
    border-radius: 100px;
    margin: 0.2em;
  }
  
  .first-row,
  .second-row,
  .third-row,
  .fourth-row,
  .fifth-row {
    margin-bottom: 4px;
  }
  
  input[type="text"] {
    background-color: rgb(47, 51, 50);
    width: 222.5px;
  }
  
  input[type="button"]:hover {
    background-color: rgb(101, 101, 101);
    color: #fff;
  }
  
  #clear-button {
    color: #fff;
    background-color: rgb(255, 42, 42);
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  #github-icon {
    margin-right: 10px;
  }
  
  .theme-button {
    all: unset;
    cursor: pointer;
  }

  @media(max-width: 900px){
    input {
      padding: 15px 10px;
      color: rgb(87, 87, 87);
      font-size: 13px;
      cursor: pointer;
      width: 57px;
      /* background-color: #fff; */
      border: none;
      outline: none;
      border-radius: 131px;
      margin: 0.2em;
  }
  input[type="text"] {
    background-color: rgb(47, 51, 50);
    width: 190.5px;
}
  }