*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans';
    -webkit-appearance: none;
}
.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: 0.8s all;
    background-image: linear-gradient(to bottom right, rgba(189,13,34,1), rgba(2,0,184,1), rgba(0,0,0,1));

}
h1 {
    margin-bottom: 6.5%;
    color: rgb(255, 255, 255);
    font-weight: normal;
  }
.container{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
    /* background-color: rgb(110, 237, 231); */
    background-color: rgb(207, 205, 205);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.top-buttons {
    display: flex;
    align-items: center;
  }
  input {
    padding: 25px;
    color: rgb(87, 87, 87);
    font-size: 1rem;
    cursor: pointer;
    width: 70px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 100px;
    margin: 0.2em;
  }
  #github-icon{
    color: rgb(87, 87, 87);
  }
  #theme-icon{
    color: rgb(87, 87, 87);
  }
.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
  margin-bottom: 4px;
}

input[type="button"] {
  color: rgb(122, 122, 122);
}
input[type="text"] {
    background-color: rgb(255, 255, 255);
    width: 222.5px;
  }
  input[type="button"]:hover {
    background-color: rgb(37, 35, 59);
    color: #fff;
  }
  
  #clear-button {
    color: #fff;
    background-color: rgb(255, 25, 25);
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  #github-icon {
    margin-right: 10px;
  }
  
  .theme-button {
    all: unset;
    cursor: pointer;
  }
  .icons{
    background-color: rgb(247, 144, 194);
  }
  .blue-icons{
    background-color: rgb(164, 236, 246);
  }

  @media(max-width: 900px){
    input {
      padding: 15px 10px;
      color: rgb(87, 87, 87);
      font-size: 13px;
      cursor: pointer;
      width: 57px;
      background-color: #fff;
      border: none;
      outline: none;
      border-radius: 131px;
      margin: 0.2em;
  }
  input[type="text"] {
    background-color: rgb(255, 255, 255);
    width: 190.5px;
}
  }








